
@import './scss/style.scss';

html {
  overflow-x: hidden;
}

body {
  color: $body-color;
  height: 100%;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
}

:root {
  --insert-bg: rgba(62, 227, 197, 0.6);
  --dark: 37, 37, 37;
  --main: rgba(62, 227, 197, 1);
  --secondary: rgba(113, 118, 236, 1);
  --dim-gray: rgba(105, 105, 105, 1);
  --orange-red: rgba(255, 87, 33, 1);
  --secondary: rgba(113, 118, 236, 1)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body, #root, html {
  margin:0;
  padding:0;
}

.container-fluid {
  padding: 0;
  min-height: calc(100vh - 50px);
}

input {
  &:focus {
    outline: none!important;
  }
}

.page-container.open-sidebar {
  padding-left: 200px;
}

.animated-toast {
  font-size: 14px;
  padding-right: 7.5px;
  max-width: 400px;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #a389f4;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.hljs.code-editor__textarea__qxcy {
  line-height: 1.5!important;
}

.hljs {
  .code-editor__hlcode__qxcy.language-css {
    color: #fff!important;
  }
}

.btn {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
  padding: 0.4rem 0.95rem;
  color: #fff;
  letter-spacing: 0.2px;
  font-size: 14px;
  background-color: #7176ec;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.125);
  font-weight: 400;
  line-height: 1.5;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.75;
  }
}


.prop-input_label {
  font-size: 13px;
  color: #83a9f4;
  position: absolute;
  left: 17px;
  top: 15px;
  display: inline-block;
  width: fit-content;
}
.prop-input_save {
  margin-left: 8px;
  margin-top: 17px;
}
.prop-input_input {
  background-color: #2a2631;
  color: #f8f8f8;
  border-radius: 5px;
  display: inline-block;
  width: 210px;
  border: 1px solid #060308;
  padding-top: 30px;
  padding-bottom: 6px;
  padding-left: 8px;
  &:focus {
    border-color: #496295;
  }
}

.btn-empty {
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.8);
  color: #252525;
}


.elem-tag {
  color: #ff5274;
  font-size: 15px;
}

.elem-class {
  color: #68b4f2;
  font-size: 12px;
}
.elem-domID {
  color: #3ee3c5;
  font-size: 12px;
}


.input-group {
  position: relative;
  &_label {
    font-size: 13px;
    color: #4e56f8;
    font-weight: 300;
    position: absolute;
    left: 8px;
    top: 5px;
    display: inline-block;
    width: fit-content;
  }
  &_input {
    background-color: #ffffff;
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.05);
    color: #252525;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #d2d2d2;
    padding-top: 22.5px;
    padding-bottom: 6px;
    padding-left: 8px;
    &:focus {
      border-color: #3ee3c5;
    }
  }
}

.drag-upload {
  padding: 30px 0;
  border: 2px dashed rgba(113, 118, 236, 1);
  background: #f5f8ff;
  border-radius: 8px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.01);
  transition: all 0.25s;
  &_text {
    color: #777777;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 14px;
  }
  &_icon {
    width: 35px;
    display: block;
    margin: 12.5px auto;
    margin-bottom: 20px;
  }
  &:hover {
    cursor: pointer;
  }
}

textarea {
  &:focus-visible {
    outline: none;
  }
}

.no-border {
  border: none!important
}

.btn-none {
  all: unset;
  &:hover {
    cursor: pointer;
  }
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
::-webkit-scrollbar {
  background-color: rgba(255,255,255,0.1);
  width: 8px;
  height: 8px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0.1);
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid transparent;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display:none;
}

.spinner-wrapper.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--main);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blinking {
  animation: blinker 2.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}