.asset-slide {
  &_cols {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-row-gap: 10px;
  }
  &_item {
    overflow: hidden;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    .svg-wrapper {
      width: 100%;
      height: 100%;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    img {
      height: auto;
      object-fit: cover;
      width: 190px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}