.prop-input {
  display: flex;
  flex-wrap: wrap;
  z-index: 10000000;
  &_label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }
  &_input {
    display: inline-block;
    width: 80%;
  }
  &_save {
    width: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}