.dashboard {
  display: flex;
  .content {
    width: 100%;
    min-height: inherit;
    flex: 1;
    &_footer {
      width: 100%;
      height: 5rem;
      margin-top: 2rem;
    }
  }
  &_templates {
    &-header {
      padding: 1rem 2rem;
      padding-bottom: 0rem;
    }
    &-discover {
      background: var(--secondary);
      padding: 2rem 1rem;
      width: 600px;
      border-radius: 8px;
      h2 {
        margin-top: 0;
        color: #fff;
      }
      .btn-none {
        font-size: 14px;
        font-weight: 600;
        background: #fff;
        padding: 0.5rem 0.6rem;
        border-radius: 8px;
        text-transform: capitalize;
      }
      margin-bottom: 3rem;
    }
    &-preview {
      padding: 0rem 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &-loading-wrapper {
      width: 100%;
      height: 5rem;
      margin-top: 1rem;
    }
    &-empty {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--secondary);
      }
    }
  }
  .template {
    width: 50%;
    max-width: 400px;
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 -1px 3px 0px rgba(0,0,0,0.075);
    &_wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      &-preview {
        img {
          width: 100%;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        }
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }
      &-meta {
        padding: 1rem 0.75rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 0.5rem;
        &_left {
          width: 75%;
          h5 {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            margin-bottom: 0.5rem;
          }
        }
        &_right {
          width: 25%;
        }
        &_options {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .btn-none {
            &:hover {
              cursor: pointer;
            }
          }
          svg {
            fill: #C4C4C4;
            &:hover {
              fill: var(--main);
            }
          }
          .template-preview-icon {
            width: 18px;
            height: 18px;
            margin-right: 7px;
          }
          .template-open-icon {
            width: 14px;
            &:hover {
              path {
                fill: var(--main);
              }
            }
          }
          .template-open-icon path {
            fill: #C4C4C4;
          }
        }
        &_body {
          margin-top: 0.75rem;
          svg {
            width: 19px;
            height: 19px;
            fill: #C4C4C4;
            margin-right: 5px;
            left: 0;
            margin-bottom: -5px;
          }
          .page-len {
            font-size: 14px;
            font-weight: 700;
          }
        }
        &_tags {
          span {
            font-size: 12px;
            color: var(--secondary);
            margin-left: 5px;
            &:first-of-type {
              margin-left: 0;
            }
          }
        }
        &_date {
          span {
            color: var(--dim-gray);
            font-size: 12px;
            display: block;
            width: 100%;
            text-align: right;
            line-height: 15px;
          }
        }
      }
      &-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        height: 100%;
        padding-bottom: 0.5rem;
        flex: 1;
        align-items: flex-end;
        .template_wrapper-meta_left {
          padding-left: 0.75rem;
        }
        .template_wrapper-meta_right {
          padding-right: 0.75rem;
        }
      }
    }
  }
}

.profile {
  display: flex;
  &_billing, &_details {
    width: 100%;
    min-height: inherit;
    flex: 1;
  }
  &_billing {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
}

.billing {
  &_plans {
    &-header {
      padding: 2rem 0;
      text-align: center;
      &_title {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: 500;
        margin: 0;
        margin-bottom: 1rem;
      }
      &_subtitle {
        font-size: 1rem;
        max-width: 500px;
        margin: 1rem;
        color: var(--dim-gray);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 1rem;
      }
    }
    &-options {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &_title {
        font-size: 1rem;
        margin-bottom: 0.75rem;
        font-weight: 600;
      }
      &_interactive {
        display: flex;
        flex-direction: row;
      }
      .toggle {
        margin: 0 0.75rem;
      }
      &_text {
        font-size: 16px;
        font-weight: 400;
        color: rgba(var(--dim-gray-rgb), 0.8);
        position: relative;
      }
      &_highlighted {
        position: absolute;
        left: 65.5px;
        font-size: 13px;
        color: var(--secondary);
        display: block;
        width: 130px;
        font-weight: 600;
        top: -2px;
        padding: 5px 3px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.05);
        &::after {
          content: '';
          position: absolute;
          left: -17.5px;
          top: 5px;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 11px solid transparent;
          border-top: 15px solid rgba(0, 0, 0, 0.05);
          clear: both;
          transform: rotate(90deg);
        }
      }
      &_highlighted.active {
        left: 66px;
      }
      &_text.active {
        color: rgba(var(--purple-rgb), 0.95);
        font-weight: 600;
      }
    }
  }
}

.billing-plan {
  max-width: 400px;
  margin: 0 auto;
  padding: 3rem 2rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  background: rgb(113,118,236);
  background: linear-gradient(180deg, rgba(113,118,236,1) 67%, rgba(135,62,227,1) 100%);
  border-radius: 10px;
  border: 2px solid rgba(0,0,0,0.4);
  box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.065), -2px 2px 3px 0px rgba(0,0,0,0.065);
  &_header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  &_name {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    color: var(--white);
  }
  &_price {
    font-size: 1rem;
    margin-left: 0.75rem;
    font-weight: 600;
    color: rgba(var(--light-rgb), 1);
  }
  .billing-price-extra {
    font-size: 0.8rem;
    font-weight: 400;
  }
  &_body {
    color: #fff;
    margin-top: 2rem;
    &-text {
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
      margin-bottom: 1rem;
      color: rgba(255, 255, 255, 0.9);
    }
    &-list {
      padding-left: 1rem;
      li {
        font-weight: 500;
        padding: 0.45rem 0;
        color: rgba(255, 255, 255, 0.85);
      }
    }
  }
  &_footer {
    margin-top: 3rem;
  }
  &_btn {
    width: 100%;
    padding: 0.75rem 0;
    text-align: center;
    font-size: 1.1rem;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,1);
    border-radius: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}