.editor {
  height: 100%;
  &_area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 60px);
  }
  .build-area {
    overflow-y: hidden;
    width: 100%;
    background: #fff;
    &_frame {
      width: 100%;
      height: 100%;
    }
    &_preview {
      border: 1px solid rgba(0,0,0,0.15);
      position: relative;
      min-height: 100%;
      overflow-y: auto;
      padding-bottom: 50px;
    }
    &_page {
      background: rgb(255, 255, 255);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
      &_separator {
        height: 1px;
        border: 1px dashed rgba(0,0,0, 0.25);
        position: absolute;
      }
    }
    &_body, &_header, &_footer {
      position: absolute;
      .comp {
        position: absolute;
      }
      .active-component {
        &::after {
          content: '';
          position: absolute;    
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid rgba(62, 227, 197, 0.5);      
        }
      }
      .comp-border {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid rgba(62, 227, 197, 0.5);      
        }
      }
    }
  }
  .floating-element {
    z-index: 3;
  }
}