.editor {
  height: 100%;
  &_area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 50px);
  }
  .build-area {
    overflow-y: hidden;
    width: 100%;
    background: #fff;
    .text-editor-wrapper {
      word-break: break-word;
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: -5px;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        border-radius: 4px;
        border: 1px solid #8d92fa8a;
      }
    }
    .section-options {
      position: absolute;
      top: 5px;
      height: 50px;
      left: -30px;
      display: flex;
      flex-direction: column;
      &_btn {
        margin-top: 10px;
        svg {
          width: 25px;
          height: 25px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    &_insert-preview {
      width: 25%;
      height: 25px;
      border-radius: 8px;
      background: #0d6efd33;
      margin: 5px auto;
    }
    &_frame {
      width: 100%;
      height: 100%;
    }
    &_preview {
      border: 1px solid rgba(0,0,0,0.15);
      position: relative;
      min-height: 100%;
      overflow-y: scroll;
      padding-bottom: 50px;
    }
    &_page {
      background: rgb(255, 255, 255);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
      &_separator {
        height: 1px;
        border: 1px dashed rgba(0,0,0, 0.25);
        position: absolute;
      }
    }
    &_body, &_header, &_footer {
      position: absolute;
      .css-tab {
        z-index: 100;
        position: absolute;
        left: calc(100% + 8px);
        top: -20px;
      }
      .prop-menu {
        position: absolute;
        top: -40px;
        &__css {
          padding: 2.5px;
          margin-top: 10px;
          margin-left: -5px;
          svg {
            width: 25px;
            height: 25px;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      .comp {
        position: absolute;
      }
      .active-component {
        &::after {
          content: '';
          position: absolute;    
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid rgba(62, 227, 197, 0.5);      
        }
      }
      .comp-border {
        .component-wrapper {
          z-index: 2;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent;
            cursor: pointer;
          }
        }
        .shift-box {
          position: absolute;
          background-color: #8d92fa8a;
          height: 20px;
          width: 100%;
          z-index: -1;
          border-radius: 5px;
        }
        .shift-box.top {
          top: -22px;
        }
        .shift-box.bottom {
          bottom: -22px;
        }
        .component-wrapper.selected {
          cursor: pointer;
          &::after {
            cursor: pointer;
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            border-radius: 4px;
            border: 1px solid rgba(62, 227, 197, 0.5);
          }
          .pan-point {
            z-index: 10;
            position: absolute;
            background: transparent;
          }
          .pan-point.side {
            height: 100%;
            width: 10px;
            &:hover {
              cursor: ew-resize;
            }
          }
          .pan-point.left {
            left: -14px;
          }
          .pan-point.right {
            right: -14px;
          }
          .pan-point.horizontal {
            width: 100%;
            height: 10px;
            &:hover {
              cursor: ns-resize;
            }
          }
          .pan-point.top {
            top: -14px;
          }
          .pan-point.bottom {
            bottom: -14px;
          }
        }
        .section-wrapper {
          z-index: 2;
        }
      }
      .comp-border.visible {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid rgba(62, 227, 197, 0.5);      
        }
      }
      .section-partition {
        &_border {
          position: absolute;
          &::after {
            content: '';
            width: 2px;
            height: 100%;
            background: rgba(62, 227, 197, 0.5);
            position: absolute;
            right: 1px;
          }
        }
      }
    }
  }
  .floating-element {
    z-index: 3;
  }
}