.slide-wrapper {
  .route-slide {
    .route-list {
      margin-top: 10px;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
      &_header {
        padding: 5px 12px;
        &_title {
          font-size: 18px;
        }
        .btn-none {
          width: 100%;
        }
        svg {
          width: 18px;
          float: right;
          height: 18px;
          fill: #3ee3c5;
          margin-top: 3px;
        }
      }
      &_prefrences {
        border-top: 1px solid #eee;
        padding: 10px 10px;
        display: flex;
        flex-wrap: wrap;
        .input-group {
          width: 50%;
        }
        .input-group.full-width {
          width: 100%;
          margin: 15px 0 5px 0px;
          textarea {
            width: 360px;
          }
        }
      }
      &_add {
        display: flex;
        flex-direction: row;
        width: auto;
        border-top: 1px solid #eee;
        padding: 10px 12px;
        span {
          width: 50%;
          font-weight: 600;
          font-size: 14px;
        }
        .btn-none {
          width: 100%;
        }
        svg {
          width: 18px;
          float: right;
          border: 2px solid #3ee3c5;
          border-radius: 50%;
          margin-top: -1px;
          height: 18px;
          stroke: #3ee3c5;
        }
      }
    }
  }
}