$body-color: #252525; // The default text color

$primary:    #3ee3c5;
$secondary:  #0093EB;
$third: #376FD6;
$fourth: #7C43AA;
$success:    #198754;
$info:       #0dcaf0;
$warning:    #ffc107;
$danger:     #dc3545;
$light:      #f8f9fa;
$dark:       #26292C;